:root {
    --main-color: #61affe;
    --smoke-white: #fafafa;
    --dark-color: #3b4151;
    --lite-dark-color: #dde9f2;
    --removed-color: rgba(255, 105, 180, 0.33);
}

body {
    margin: 0;
    background: var(--smoke-white);
    font-family: Bitter, sans-serif;
}

.topbar {
    padding: 8px;
    background-color: var(--main-color);
}

.topbar a {
    padding-left: 10%;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-color);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.differ-ui a.nostyle {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.differ-ui .block-tag {
    font-size: 24px;
    margin: 0 0 5px;
    color: var(--dark-color);
}

.differ-ui .block-tag-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.differ-ui .tag-section {
    width: 50%;
}

.differ-ui .tag-section.left {
    padding-right: 5px;
}

.differ-ui .tag-section.right {
    padding-left: 5px;
}

.differ-ui .block-tag small {
    font-size: 14px;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.differ-ui .expand-operation {
    border: none;
    background: none;
}

.differ-ui .block-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-bottom: 1px solid rgba(59, 65, 81, .3);
}

.differ-ui .block-tag:hover {
    background-color: var(--lite-dark-color);
}

.differ-ui .wrapper .removed {
    text-decoration: line-through;
    /*background-color: var(--removed-color);*/
}

.differ-ui .opblock {
    margin: 0 0 15px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .19);
    box-shadow: 0 0 3px rgba(0, 0, 0, .19);
}

.differ-ui .opblock.opblock-get {
    border-color: #61affe;
    background: rgba(97, 175, 254, .1);
}

.differ-ui .opblock.opblock-post {
    border-color: #49cc90;
    background: rgba(73, 204, 144, .1);
}

.differ-ui .opblock.opblock-head {
    border-color: #9012fe;
    background: rgba(144, 18, 254, .1);
}

.differ-ui .opblock.opblock-put {
    border-color: #fca130;
    background: rgba(252, 161, 48, .1);
}

.differ-ui .opblock.opblock-delete {
    border-color: #f93e3e;
    background: rgba(249, 62, 62, .1);
}

.differ-ui .opblock.opblock-options {
    border-color: #0d5aa7;
    background: rgba(13, 90, 167, .1);
}

.differ-ui .opblock.opblock-patch {
    border-color: #50e3c2;
    background: rgba(80, 227, 194, .1);
}

.differ-ui .opblock-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.differ-ui .opblock-summary .opblock-summary-method {
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    color: #fff;
    text-transform: uppercase;
}

.differ-ui .opblock-summary .opblock-summary-path {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 3 auto;
    flex: 0 3 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    padding: 0 10px;
    font-family: Source Code Pro, monospace;
    font-weight: 600;
    color: #3b4151;
}

.differ-ui .opblock-summary .opblock-summary-description {
    font-size: 13px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3b4151;
}

.differ-ui .opblock-summary .opblock-summary-path {
    font-size: 12px;
}

.differ-ui .opblock-summary .opblock-summary-description {
    font-size: 12px;
}

.differ-ui .opblock.opblock-get .opblock-summary-method {
    background: #61affe;
}

.differ-ui .opblock.opblock-post .opblock-summary-method {
    background: #49cc90;
}

.differ-ui .opblock.opblock-head .opblock-summary-method {
    background: #9012fe;
}

.differ-ui .opblock.opblock-put .opblock-summary-method {
    background: #fca130;
}

.differ-ui .opblock.opblock-delete .opblock-summary-method {
    background: #f93e3e;
}

.differ-ui .opblock.opblock-options .opblock-summary-method {
    background: #0d5aa7;
}

.differ-ui .opblock.opblock-patch .opblock-summary-method {
    background: #50e3c2;
}

.differ-ui .tag-section .block-content {
    display: none;
}